/* Homepage  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Icons */
.imeuseLogo {
  width: 120px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 8px;
}
.Bell {
  margin-top: 15px;
  width: 34px;
  height: 33px;
  cursor: pointer;
}
.Man {
  margin-top: 15px;
  width: 35px;
  cursor: pointer;
}

.User {
  width: 20px;
  height: 15px;
  cursor: pointer;
  filter: brightness(1000%);
}
/* Main  */
.main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
  padding-bottom: 3px;
}
.subchild {
  gap: 10px;
}

.searchProfile {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}
/* Search */
.input-style {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  width: 5cm;
  text-align: center;
  height: 0.8cm;
  border: 2px solid #b4d1eb;
  border-radius: 5px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Add Members */
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.subproperty {
  background-color: #bfcaf3;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AddButton {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 4cm;
  height: 1.1cm;
  font-size: 15px;
  font-weight: 200;
  background-color: #4263eb;
  border-radius: 6px;
  border-style: none;
  color: white;
  outline: none;
  box-shadow: inset 0 0 0 0 #748ffc;
  transition: all 0.8s ease;
  cursor: pointer;
}
.AddButton:hover {
  outline: none;
  background-color: #dbe4ff;
  color: white;
  box-shadow: inset 300px 0 0 0 #364fc7;
}
/* Search bar */
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
  font-weight: lighter;
}

.coolinput label.text {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: white;
  width: fit-content;
}

.coolinput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #868e96 solid;
  border-radius: 5px;
  background: white;
}

.coolinput input[type="text"].input:focus {
  outline: none;
}
.successMessage {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
